@import "tailwindcss";

:root {
  --background: #050505; /* Un negro casi puro, muy elegante */
  --foreground: #ededed; /* Un blanco suave para no cansar la vista */
}

body {
  color: var(--foreground);
  background: var(--background);
  /* Mejoramos el renderizado de las fuentes en pantallas modernas */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}